<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>DB App</title>
    <link rel="stylesheet" href="/springDBProject/css/list.css">
    <link rel="stylesheet" href="/springDBProject/css/loader.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular.js" charset="UTF-8"></script>

    <script type="text/javascript" src="/springDBProject/js/VirtualTable.js" charset="UTF-8"></script>
    <script type="text/javascript" src="/springDBProject/js/hello.js" charset="UTF-8"></script>
</head>

<body ng-app="myApp" ng-controller="myAppController">
    <table id="headerTable">
        <tr>
            <td>
                <h1 id="mainHeader">DB Management Application</h1>
            </td>
            <td ng-if="loading">
                <div class="lds-roller">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </td>
            <td ng-if="loading">
                Loading...
            </td>
        </tr>
    </table>
    <table>
        <tr>
            <td>
                <select ng-model="tableCBox" ng-options="table.name for table in tables" ng-change="findAll()"
                    title="Choose table to show."></select>
            </td>
            <td>
                <input class="{{idInputStyle}}" type="number" placeholder="type id of record" ng-model="id"
                    ng-change="idFieldChanged()" title="Type id of record which you want to show or delete.">
            </td>
            <td>
                <button ng-click="findById()" title="Click to find record with given id.">findById</button>
            </td>
            <td>
                <button ng-click="deleteById()" title="Click to delete record with given id.">deleteById</button>
            </td>
            <td>
                <button ng-click="addRecordHandler()" title="Click to add new record empty row.">addRecord</button>
            </td>
        </tr>
    </table>

    <table id="mainTable">
        <tr>
            <th ng-repeat="header in virtualTab.columns">{{header}}</th>
        </tr>
        <tr ng-repeat="record in virtualTab.records">
            <td ng-repeat="column in virtualTab.columns">
                <p ng-model="paragraphValue" ng-click="virtualTab.setTableValue(record,column,true)"
                    ng-if="virtualTab.getTableValue(record,column)==false">
                    {{processContent(record[column])}}</p>
                <table ng-if="virtualTab.getTableValue(record,column)">
                    <tr>
                        <td colspan="2">
                            <input type="{{virtualTab.getInputType(column)}}" ng-model="updateInputValue.value"
                                ng-if="virtualTab.isEditedNormalColumn(record,column)" value="updateInputValue.value">
                            <select ng-model="updateInputValue.value"
                                ng-if="virtualTab.idEditedForeignColumn(record,column)"
                                ng-options="processContent(foreignRecord) for foreignRecord in virtualTab.getForeignColumnRecords(column)">
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td><button ng-click="undoUpdate()" title="Click to undo update operation.">Undo</button></td>
                        <td><button ng-click="update()" title="Click to update record with new value.">Update</button>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

        <tr ng-if="virtualTab.isNewRecordAdded()">
            <td ng-repeat="column in virtualTab.columns">
                <p ng-if="virtualTab.isIdColumn(column)">*</p>
                <input ng-model="recordSB[column]" class="{{recordSBStyle[$index]}}"
                    type="{{virtualTab.getInputType(column)}}" ng-if="virtualTab.isNotIdAndForeignColumn(column)"
                    ng-change="inputChanged($index,column,false)">
                <select ng-model="recordSB[column]" class="{{recordSBStyle[$index]}}"
                    ng-if="virtualTab.isNotIdAndNormalColumn(column)"
                    ng-options="processContent(foreignRecord) for foreignRecord in virtualTab.getForeignColumnRecords(column)"
                    ng-change="inputChanged($index,column, true)">
                </select>
            </td>
        </tr>
        <tr ng-if="virtualTab.isNewRecordAdded()">
            <td colspan="{{virtualTab.columnCount}}">
                <button ng-click="undoSave()" title="Click to undo save operation.">Undo</button>
                <button ng-click="save()" title="Click to save new record in database.">Save Record in DB</button>
            </td>
        </tr>
    </table>
</body>

</html>