<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Hello AngularJS</title>
	<link rel="stylesheet" href="/springDBProject/css/list.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular.js" charset="UTF-8"></script>

	<script type="text/javascript" src="/springDBProject/js/BooleanTable.js" charset="UTF-8"></script>
	<script type="text/javascript" src="/springDBProject/js/hello.js" charset="UTF-8"></script>
</head>

<body ng-app="myApp" ng-controller="myAppController">
	<table>
		<tr>
			<td>
				<select ng-model="tableCBox" ng-options="table.name for table in tables" ng-change="findAll()"></select>
			</td>
			<td>
				<input class="{{idInputStyle}}" type="number" placeholder="type id of record" ng-model="id"
					ng-change="idFieldChanged()">
			</td>
			<td>
				<button ng-click="findById()">findById</button>
			</td>
			<td>
				<button ng-click="addRecordClickHandler()">addRecord</button>
			</td>
		</tr>
	</table>

	<table id="mainTable">
		<tr>
			<th ng-repeat="header in columns">{{header}}</th>
		</tr>
		<tr ng-repeat="record in records">
			<td ng-repeat="column in columns" ng-dblclick="boolTab.setValue(record,column,true)">
				<p ng-if="boolTab.getValue(record,column)==false">{{processContent(record[column])}}</p>
				<input type="text" ng-if="boolTab.getValue(record,column)" ng-keydown="updateValue($event,this,column)" ng-model="updateInputValue">
			</td>
		</tr>
	</table>

</body>

</html>